* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#div1 {
    width: 100%;
    height: 100px;
    display: flex;
    background-color: yellow;
    justify-content: center;
    align-items: center;
    border: 5px solid blue;
}

.container{
display: flex;;
}

#div2 {
    width: 20%;
    height: 200px;
    background-color: lightblue;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
}
#div3 {
    width: 80%;
    height: 200px;
    background-color: green;
    justify-content: flex-end;
    align-items: center;
    border: 5px solid black;
}
#div4 {
    width: 100%;
    height: 100px;
    background-color: purple;
    justify-content: center;
    align-items: center;
    border: 5px solid red;
}