/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a:link {
    color: green;
    
}
a:visited {
    color: red;
    
}
a:hover {
    color: yellow;
}
a:active {
    color: blue;
    
}

li:first-child {
color: red
}

li:last-child {
color: blue
}

li:nth-child(even) {
background-color:grey;
}

li:nth-child(odd) {
background-color: lightgrey;
}

li:nth-child(3) {
color: purple
}

li:only-child {
color: orange
}

li:nth-child(10n+8) {
color: green
}

p::first-letter {
color: red;
font-size: 2em;
}

p::first-line {
color: blue;
font-size: 1.5em;
} */



div p {
color: red;
}

div > p {
color: blue;
}

div + p {
color: purple;
}

div ~ p {
font-weight: bold;
}
