#circle { 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #000;
    margin: 0 auto;
}


#circle:hover {
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    background-color: red;
    color: #ffffff;
}