#circle {
    position: relative;
    left: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #000;
  margin: 0 auto;
  animation-name: move-circle;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-delay: 50ms;
    animation-fill-mode: forwards;
    animation-play-state: running;

}


@keyframes move-circle {
    0% {
        background-color: #000;
        
    }
    10% {
        background-color: yellow;
        left: 0px;
        top: 0px;
     
    }
    20% {
        background-color: blue;
        left: 500px;
        top: 500px;
        
    }
    30% {
        background-color: green;
        bottom: 200px;
        right: 200px;
    }
    40% {
        background-color: red;
        bottom: 600px;
        right: 600px;
    }
    50% {
        background-color: purple;
        left: -400px;
        top: 0px;
    }
    60% {
        background-color: orange;
        left: 400px;
        top: 800px;
    }
    70% {
        background-color: pink;
    }
    80% {
        background-color: brown;
    }
    90% {
        background-color: grey;
    }

    100% {
        background-color: chartreuse;
        left: 50%;
    }
}
