* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex-container {
    display: flex;
}
.box1 {
    display: flex;
    border: 3px solid black;
    width: 400px;
    height: 100px;
    flex-grow: 1;
}
.box2 {
    display: flex;
    border: 3px solid black;
    width: 400px;
    height: 100px;
    flex-grow: 2;
}
.box3 {
    display: flex;
    border: 3px solid black;
    width: 400px;
    height: 100px;
    flex-grow: 1;
}